.forecast-img {
    height: 60px;
    width: 60px;
}

.forecast-img-main { background-color: #fff }

.table>tbody>tr>td { vertical-align: middle !important }

.error a {
    color: #fff;
    border-bottom: 1px dotted;
	}
	
.error a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
	}
	
.page-header h1 { font-size: 350% }

.page-header { border-bottom: none }

#error { margin-top: 10px }

.close {
    color: #fff;
    text-shadow: none;
	}
	
.alert { margin-bottom: 0px }

.modal-title { font-weight: 700 }

.modal-header {
    background-color: #007fff;
    color: #fff;
	}
	
.row.styled { border-bottom: #f1f1f1 1px solid }

.row h1 { margin-top: 10px }

#forecastdate0,
#forecastdate1,
#forecastdate2,
#forecastdate3,
#forecastdate4 { padding-top: 20px }

#forecasthigh0,
#forecasthigh1,
#forecasthigh2,
#forecasthigh3,
#forecasthigh4 { padding-top: 20px }

#forecastlow0,
#forecastlow1,
#forecastlow2,
#forecastlow3,
#forecastlow4 { padding-top: 20px }

#forecasttext0,
#forecasttext1,
#forecasttext2,
#forecasttext3,
#forecasttext4 { padding-top: 20px }

.location {
    background-color: #3fb618;
    color: #fff;
    font-size: 12px;
    padding: 10px;
	}
	
.location a {
    color: #fff;
    border-bottom: 1px dotted;
    font-weight: 700;
	}
	
.location a:hover {
    text-decoration: none;
    border-bottom: 1px solid;
    }